body {
    background-color: rgb(5, 16, 77);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation {
    background-color: rgb(73, 72, 72);
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}

.sidebar_navigation .logo {
    background: rgb(73, 72, 72);
    display: flex;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}

.sidebar_navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 5px 0;
}

.sidebar nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.library {
    background-color: rgb(5, 16, 77);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: rgb(73, 72, 72);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library_content {
    display: flex;
    justify-content: space-between;
}

.library .library_button {
    margin-right: 10px;
    color: rgb(73, 72, 72);
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library_button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library_button .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: rgb(73, 72, 72);
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
}

.section-playlist .section-playlist_content {
    display: flex;
    flex-direction: column;
}

.section-playlist_content .text {
    padding-bottom: 14px;
    color: aliceblue;
}


